body {
  font-family: arial;
}

div nav{
  text-align: center;
}
nav li{
  display: inline-block;
}
li {
  padding: 4px;
}
#border {
    border-right:2px black solid;
    padding-right: 10px;
}
a {
    color: black;
    text-decoration: underline;
}
h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom:10px;
}
li:last-child {
   list-style-type: none; 
   padding-top:4px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
